.textAreaWidth{
  width: 100%;
}

.travel-details {
  display: flex;
  flex-direction: row;
}

.saveBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.quillContainer{
  min-height: 200px;
}

.ql-editor {
  min-height: 200px;
}

